.WeatherContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.degres {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 144px;
  line-height: 169px;
  color: #e7e7eb;
}
.degres span {
  font-weight: 100;
  font-size: 48px;
  line-height: 56px;
  position: relative;
  top: -30px;
}
.mainValue {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #a09fb1;
}
.location {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #88869d;
  position: absolute;
  bottom: 52px;
}
.location::before {
  content: url('./location-icon.svg');
  position: relative;
  bottom: -5px;
}
